@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playwrite+NZ+Basic:wght@100..400&family=Rubik+Mono+One&display=swap');


h1 {
    margin-top: 2.5rem;
    margin-bottom: 3rem;    
    font-size: 2.5rem;
    text-align: center;
    font-family: "Rubik Mono One";
    color: rgb(74, 165, 76);
}

p {
    padding: 1.5rem;
    font-size: 1rem;
    font-family: arial;
    max-width: 45ch; 
    text-align: justify;
}

span {
    font-style: italic;
}

.container {
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 1rem;
}

.pic {
    width:100%;
    max-width: 200px;
    height: auto;
}

#pic1 {
    border: 6px dashed red; 
}

#pic2 {
    border: 6px dashed blue;
}

#pic3 {
    border: 6px dashed yellow;
}

#pic4 {
    border: 6px dashed purple;
}

@media (max-width: 780px) {
    .container {
        flex-direction: column;
    }
}