body, #button{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image{
  display:flex;
  flex-direction: column;
  gap:30px;
}

img, video{
  width:450px;
  border: 3px solid yellow 
}