@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin:0;
    font-family: Outfit;
}

img {
    width: 100%;
    max-width: 325px;
    height:auto;
}

img:hover {
    transform: scale(1.1, 1.1);
}

body {
    background-image: url('src/bg.webp');
    background-repeat: no-repeat;
    background-position:50%;
    background-attachment: fixed;
    background-size:cover;  
}

.nav-bar ul{
    background-color: hsl(342, 98%, 21%);
    list-style-type: none;
    display:flex;
    justify-content:center;
    margin: 0;
    padding:1.3em;
}

.nav-bar a{
    text-decoration:none;
    color: black;
    padding:1em;
}

.nav-bar a:hover {
    background-color: hsl(342, 98%, 35%);
    border-radius: 20px;
    color: white;
}

.container {
    display: grid;
    justify-content: center;
    grid-template-columns:repeat(2, 1fr);
    margin: 5%;
    gap: 3em;
}

.album {
    display:flex;
    align-items:center;
    flex-direction: column;
}

.album h4 {
    color: white;
    margin: 1em;
}

@media (max-width: 750px) {
    .container {
        grid-template-columns: 1fr;
    }
}