h1, p {
    display:flex;
    justify-content: center;
    align-items: center;
}

.container {
    justify-content: center;
    display: flex;
    gap: 50px;
}


#box1 {
    padding-top: 50px;
    justify-content: center;
    display: flex
}